/* General styles for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Global styles for GridView */
.task-gridview a, .task-gridview span {
    display: block;
    height: 15px;
    width: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.task-gridview a {
    background-color: #f5f5f5;
    color: #969696;
    border: 1px solid #969696;
}

.task-gridview span {
    background-color: #A1DCF2;
    color: #000;
    border: 1px solid #3AC0F2;
}
