/* General styles for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Global styles for GridView */
.gridview a, .gridview span {
    display: block;
    height: 15px;
    width: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.gridview a {
    background-color: #f5f5f5;
    color: #969696;
    border: 1px solid #969696;
}

.gridview span {
    background-color: #A1DCF2;
    color: #000;
    border: 1px solid #3AC0F2;
}

.modal-content {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.modal-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-footer .btn-primary {
    background-color: #007bff;
    border: none;
}

body.bg-dark {
    background-color: #343a40;
    color: #ffffff;
}

body.bg-light {
    background-color: #ffffff;
    color: #000000;
}

